services:
    _defaults:
        autowire: true
        autoconfigure: true
        public: false

    SecIT\ValidationBundle\Validator\Constraints\BurnerEmailValidator:
        class: SecIT\ValidationBundle\Validator\Constraints\BurnerEmailValidator
